body {
  padding-top: 50px;
}


.gameboard .tile {
  height: 100px;
  line-height: 100px;
  font-size: 3em;
}

.gameboard .tile:hover {
  background-color: #ccc;
}

.scoreboard .score {
  width: 100%;
}

.gameboard .tile:nth-child(-n+6) {
  border-bottom: 2px solid #ccc;
}

.gameboard .tile:nth-child(3n+1),
.gameboard .tile:nth-child(3n+2) {
  border-right: 2px solid #ccc;
}
