<div class="page-header">
  <h1>Tic Tac Toe</h1>
</div>

<div class="well">
  <p>The rules are simple:</p>
  <ul>
    <li>You will be competing against the computer player</li>
    <li>You get to move first</li>
    <li>Three in row wins</li>
    <li>Try to bet the computer player</li>
  </ul>
</div>

<div class="container col-lg-6 col-lg-offset-3">
  <div class="row scoreboard"> 
    <div class="cpu-score col-lg-3 col-md-3 col-sm-3 col-lg-offset-2 text-center">
      CPU Wins: <div class="score bg-success">{{ wins.CPU }}</div>
    </div>
    <div class="player-score col-lg-3 col-md-3 col-sm-3 text-center">
      Player Wins: <div class="score bg-danger">{{ wins.Player }}</div>
    </div>
    <div class="draws col-lg-3 col-md-3 col-sm-3 text-center">
      Draws: <div class="score align-right bg-info">{{ wins.Draw }}</div>
    </div>
  </div>

  <h3>Welcome, 
    <input type="text" placeholder="Name" value="{{ player_name }}">
    <button type="submit" class="btn btn-success" ng-click="newGame()">New Game</button>
  </h3>

  <div class="alert alert-{{ game_state.type }}">{{ game_state.message }}</div>

  <div class="gameboard row col-lg-12 text-center">
    <div ng-click="makeMove($event)" ng-repeat="tile in tiles track by $index" ng-disabled="tile.disabled"
      data-attr-index="{{ $index }}" class="tile text-center col-lg-4 col-md-4 col-xs-4" >
        {{tile.val | gamemove}}
    </div>
  </div>
    
</div>

<input type="hidden" name="gameId" val="{{ gameId }}" />